:root {
    --main-colour: #5ea3d0;
    --secondary-colour: white;
    --main-text-colour: #3e5869;
    --secondary-text-colour: #b0c7d6;
    --send-message-form: #F5F5F5;
    --join-colour: #18c446;
    --leave-colour: #f74336;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 720px;
    color: var(--secondary-colour);
    background: var(--main-colour);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.name {
    text-align: left;
    color: var(--secondary-colour);
    background: var(--main-colour);
    margin: 0;
    padding: 0;
}

.joinmsg {
    text-align: left;
    color: var(--secondary-colour);
    background: var(--join-colour);
    width: 670px;
    margin: 0;
    padding: 0;
}

.leavemsg {
    text-align: left;
    color: var(--secondary-colour);
    background: var(--leave-colour);
    width: 670px;
    margin: 0;
    padding: 0;
}

.list {
    display:flex;
    box-sizing: border-box;
    padding: 0 0 0 0px;
    margin: 0;
    width: 720px;
    height: 100%;
    overflow-y: scroll;
    background: white;
}

.listcomponent {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 150;
    color: #3e5869; 
}

.form {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
}

#root {
    height: 100%;
}

.app {
    height: calc(100% - 200px); 
}

.clrbutton {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  width: 50px;
  height: 75px;
  display: block;
}

.clrbutton:hover {
  background-color: #f44336;
  color: white;
}

.sndbutton {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  width: 50px;
  height: 75px;
  display: block;
}

.sndbutton:hover {
  background-color: #4CAF50;
  color: white;
}

.canvasholder {
    float: left;
    padding: 0;
    border:black 2px solid;
    height: 146px;
}

.buttons {
    float: left;
}